.env

# ignore everything in configs, but not the folders themselves
mediaserver/configs/**

# wireguard specific
!mediaserver/configs/wireguard/
!mediaserver/configs/wireguard/wg_confs/
!mediaserver/configs/wireguard/wg_confs/wg0.conf.example

# qBittorrent specific
!mediaserver/configs/qbittorrent/
!mediaserver/configs/qbittorrent/categories.json
!mediaserver/configs/qbittorrent/qBittorrent.conf

# media
mediaserver/media/*/**
!mediaserver/media/*/

# downloads
mediaserver/media/downloads/*/**
!mediaserver/media/downloads/*/
