.env

# ignore everything in configs by default
mediaserver/configs/**

# wireguard specific
!mediaserver/configs/wireguard/
!mediaserver/configs/wireguard/wg_confs/
!mediaserver/configs/wireguard/wg_confs/wg0.conf.example

# lidarr specific
!mediaserver/configs/lidarr/
!mediaserver/configs/lidarr/config.xml

# prowlarr specific
!mediaserver/configs/prowlarr/
!mediaserver/configs/prowlarr/config.xml

# radarr specific
!mediaserver/configs/radarr/
!mediaserver/configs/radarr/config.xml

# sonarr specific
!mediaserver/configs/sonarr/
!mediaserver/configs/sonarr/config.xml

# qBittorrent specific
!mediaserver/configs/qbittorrent/
!mediaserver/configs/qbittorrent/categories.json
!mediaserver/configs/qbittorrent/qBittorrent.conf

# media
mediaserver/media/*/**
!mediaserver/media/*/

# downloads
mediaserver/media/downloads/*/**
!mediaserver/media/downloads/*/
